<section class="services">
  <h2 class="visually-hidden">Список онлайн серивисов расписания поездов</h2>
  <div class="services__container container">
    <ul class="services__list">
      <li class="services__item">
        <div class="card-services">
          <div class="card-services__content">
            <img src="./assets/img/yandex.svg" alt="yandex logo" class="card-services__logo">
            <h3 class="card-services__title">Яндекс. Расписание</h3>
            <p class="card-services__description">Сервис предоставляющий возможность узнать расписание автобусов,
              электричек, поездов, самолётов, теплоходов и паромов.</p>
            <img src="./assets/img/5rate.svg" alt="" class="card-services__rating" width="60px">
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <div class="card-services__content">
            <img src=" ./assets/img/tutu.svg" alt="tutu logo">
            <h3 class="card-services__title">Tutu.ru</h3>
            <p class="card-services__description">Узнавайте расписание автобусов онлайн и покупайте билеты не выходя из
              дома только у проверенных перевозчиков</p>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <div class="card-services__content" style="background-image: url(/assets/img/5rate.svg);">
            <img src=" ./assets/img/unitiki.svg" alt="unitiki logo">
            <h3 class="card-services__title">Unitiki</h3>
            <p class="card-services__description">Узнайте расписание на автобусы по 20 000 междугородных и пригородных
              направлений от 2 500 перевозчиков</p>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <div class="card-services__content" style="background-image: url(/assets/img/4-9rate.svg);">
            <img src=" ./assets/img/busfor.svg" alt="Busfor logo">
            <h3 class="card-services__title">Busfor</h3>
            <p class="card-services__description">Cервис для быстрого поиска расписания и билетов на поезда и самолеты,
              а также для бронирования гостиниц. </p>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <div class="card-services__content" style="background-image: url(/assets/img/4-7rate.svg);">
            <img src=" ./assets/img/my-buses.svg" alt="Мои автобусы logo">
            <h3 class="card-services__title">Мои автобусы</h3>
            <p class="card-services__description">Cервис для быстрого поиска расписания и билетов на поезда и самолеты,
              а также для бронирования гостиниц. </p>
          </div>
        </div>
      </li>
      <li class="services__item">
        <div class="card-services">
          <div class="card-services__content" style="background-image: url(/assets/img/4-3rate.svg);">
            <img src=" ./assets/img/bus-stations.svg" alt="автовокзалы logo">
            <h3 class="card-services__title">Автовокзалы</h3>
            <p class="card-services__description">Cервис поиска поездов и маршрутов. Основная идея проекта — сделать
              удобную и понятную справку по поездам, станциям и маршрутам.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>