.hero {
  padding: 25px 0 75px;
  color: $color-text-thirdly;
  background-color: $bg-secondary;
  @include media(S) {
    padding: 30px 0;
  }
  @include media(L) {
    padding: 50px 0;
  }
  @include media(XL) {
    min-height: 335px;
  }
  h1 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    @include media(M) {
      font-size: 36px;
      line-height: 48px;
    }
    @include media(L) {
      font-size: 48px;
      line-height: 64px;
    }
  }
  p {
    max-width: 220px;
    font-size: 12px;
    line-height: 16px;
    @include media(M) {
      font-size: 20px;
      line-height: 34px;
    }
  }
}

.hero__container {
  padding: 0 8px;
  @include media(XL) {
    margin-top: 15px;
  }
}

.hero__img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  max-width: 193px;
  // max-width: 300px;
  // max-width: 100%;
  overflow: hidden;
  @include media(M) {
    // top: -140px;
    // max-width: 400px;
  }
  @include media(L) {
    // top: -160px;
    // max-width: 470px;
  }
  @include media(XL) {
    // top: -130px;
    right: 45px;
    // max-width: 470px;
  }
}
