<section class="hero">
    <div class="hero__container container">
        <picture>
            <source srcset="./assets/img/hero-desktop.png"
              media="(min-width:500px)">
            <img class="hero__img" src="./assets/img/hero-mobile.png" alt="современный пассажирский автобус">
        </picture>
        <h1>Онлайн-сервисы  с<br>расписанием автобусов</h1>
        <p>Рейтинг ресурсов для поиска автобусных рейсов</p>
    </div>
</section>