<section class="hero">
    <div class="hero__container container">
        <h1>Онлайн-сервисы  с<br>расписанием автобусов</h1>
        <p>Рейтинг ресурсов для поиска автобусных рейсов</p>
        <img class="hero__img" src="./assets/img/hero.png" alt="современный пассажирский автобус">
    </div>
</section>