.hero {
  padding: 25px 0 75px;
  background-color: $bg-secondary;
  color: $color-text-thirdly;
  @include media(L) {
    padding: 50px 0;
  }
  @include media(XL) {
    min-height: 320px;
    padding: 15px 0 70px;
  }
  h1 {
    position: relative;
    z-index: 2;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    @include media(DESKTOP) {
      max-width: 435px;
    }
    @include media(M) {
      font-size: 36px;
      line-height: 48px;
    }
    @include media(XL) {
      max-width: 675px;
      margin-bottom: 20px;
      font-size: 56px;
      font-weight: 800;
      line-height: 66px;
    }
    @media (min-width: 1700px) {
      max-width: none;
    }
  }
  p {
    max-width: 220px;
    font-size: 12px;
    line-height: 16px;
    @include media(M) {
      max-width: 390px;
      font-size: 20px;
      line-height: 34px;
    }
    @include media(L) {
      max-width: none;
    }
  }
}
