.advantages {
  padding: 20px 0 40px;
  background-color: green;
  @include media(XL) {
    padding: 40px 0 80px;
  }
}

.advantages__container {
  padding: 0 17px;
  @include media(XL) {
    padding: 0 50px;
  }
}

.advantages__list {
  margin: 0 auto;
  font-size: 10px;
  line-height: 12px;
  gap: 5px;
  @include media(M) {
    max-width: none;
    font-size: 18px;
    line-height: 28px;
    column-gap: 20px;
  }
  .list-item {
    display: flex;
    align-items: center;
    border: 2px solid orangered;
    border-radius: 4px;
    padding: 20px 50px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    .list-item__img-wrapper {
      width: 40px;
      height: 40px;
      margin-right: 12px;
      flex-shrink: 0;
      img {
        width: 100%;
      }
      @include media(M) {
        max-width: 60px;
        height: 60px;
      }
      @include media(XL) {
        max-width: 60px;
        height: 60px;
      }
    }
    h3 {
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: black;
    }
  }
}
