{% set advantages = [
  {
    'img': './assets/img/icon_01.svg',
    'title': 'Только топовые
 сервисы '

  }, {
    'img': './assets/img/icon_02.svg',
    'title': 'Все автовокзалы
 России '

  }, {
    'img': './assets/img/icon_03.svg',
    'title': 'Актуальное
 расписание '

  }
] %}